*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f2f4f7;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
}
.container{
    width: 980px;
    margin: auto;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}

.content{
    display: flex;
    padding: 112px 0;
}
/* content__left */
.content__left{
    width: 60%;
    height: 106px;
    padding-left: 10px;
}
.content__right{
    width: 40%;
    margin-left: 10px;
}
.content__left img{
    margin-top: 30px;
    padding: 3px;
    height: 106px;
}
.content__left h2{
    font-size: 28px;
    font-weight: normal;
    line-height: 32px;
    margin-left: 30px;
    width: 500px;
}

/* content__right */
.content__right-login{
    background-color: white;
    padding: 15px 15px 20px 15px;
    border-radius: 6px;
    border: 1px solid #dad5d5;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .1), 0px 8px 16px rgba(0, 0, 0, .1);
}
.content__right-login input{
    width: 100%;
    padding: 14px 16px;
    margin-bottom: 15px;
    font-size: 17px;
    border: 1px solid #dad5d5;
    border-radius: 6px;
}
.content__right-btnreg{
    width: 100%;
}
.btn_login{
    width: 100%;
    color: white;
    font-weight: 700;
    border: none;
    font-size: 20px;
    line-height: 48px;
    padding: 0 16px;
    border-radius: 6px;
    cursor: pointer;
    background-color: #0866ff;

}
.content_right-link{
    width: 100%;
    margin: 20px 0;
    text-align: center;
}
.content_right-link a{
    color: #0866ff;
    font-size: 14px;
}
.border{
    border: 1px solid #dad5d5 ;
}
.content__right-btnreg{
    margin: 25px 0 5px 0;
    text-align: center;
}
.btn_reg{
    font-size: 19px;
    font-weight: 700;
    line-height: 48px;
    padding: 0 15px;
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 6px;
    background-color: #42b72a;
}

.content__right-bottom{
    font-size: 14px;
    margin-top: 28px;
    color: #28292b;
    text-align: center;
    font-weight: normal;

}
.content__right-bottom a{
    color: #1c1e21;
    font-weight: 700;
}


/* footer */
.footer{
    width: 100%;
    height: 270px;
    font-size: 12px;
    padding-top: 30px;
    background-color: white;
}
.container ul{
    display: flex;
}
.container ul a{
    margin-left: 15px;
    margin-bottom: 10px;
    color: #8a8d91;
}
.footer__page{
    margin-top: 10px;
}
.footer__page ul{
    display: flex;
    flex-wrap: wrap;
}

.container a:hover{
    text-decoration:underline;
}

