/* reset brower */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{

    --bg-color:##FFFFFF;
    --white-color: #fff;
    --red-color: #F65C4E;
    --black-color: black;
    --text-color:#333333;
    --border-color:#dbdbdb;
    --primary-color: #F65C4E;

    --text-color-hover:#F65C4E;
    --star-color:#ffce3e;
}
body{
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
}
.container{
    max-width: 1260px;
    margin: auto; 
}